= javascript_include_tag 'top'

%header
	= link_to image_tag("logo.png", class: "logo"), root_path

	%span.scroll-nav
		%a.scroll(href="#map") Map
		%a.scroll(href="#about") About
		%a.scroll(href="#people") People

.main_container

	%h2 留学情報を見つけよう
	#map

	.marker_data
		- @universities.each do |university|
			.marker_datum(value='#{university.id}' lat='#{university.lat.to_s}' lng='#{university.lng.to_s}' name_en='#{university.name_en}' name_ja='#{university.name_ja}')
				.baloon
					.image_sizer
						-# photo = get_photo_university_path(university.id, 0)
						-# if photo.nil?
							=#link_to image_tag("no-image.png"), university_path(university.id)
						-# else
							=# link_to image_tag(photo), university_path(university.id)
					%p= link_to simple_format(h(university.name_ja + "\n" + university.name_en)), university_path(university.id)
			= image_tag("no-image.png", class: "no-image")

	#about_container
		#about
			%h1　RYUGAKU HUB
			%p 毎年、数万人の日本人学生が　"留学"　を行います。
			%p まだ見ぬ世界に飛び込み、ゼロから挑戦しようとしています。
			%br
			%p それぞれの思いがあり、それぞれの覚悟があります。
			%br
			%p 数えきれないほどの失敗と挫折、かけがえのない成功を超えて、大きく成長する。
			%p "留学" という機会を最大限に活かして欲しい。
			%p この思いで私たちは世界中の留学情報を "体系的に" そして "包括的に" まとめています。
			%br
			%p 留学を決意するあなたへ、ようこそ RYUGAKU HUB へ。
		%hr
		#feature
			%h3
				%strong 5つの特徴
			%p 0. 留学をしようと決意する
			%p 1. 大学を探す;「国別ページ」で大学を探す
			%p 2. 留学準備に取り掛かる;「出発前ページ」で留学に必要な情報を集める
			%p 3. 留学を始める;「講義ページ」「到着後ページ」「交通ページ」で留学生のスタートダッシュを切る
			%p 4. 留学を楽しむ;「アクティビティーページ」で現地のイベント情報をチェックする
			%p 5. 自分の留学経験を後輩に伝える;自分の体験や感じたことをサイトに残し、未来の留学生の役に立てる！

	#people
		%h1 People
		%p
			%span#selected
				Best people randomly selected.
				%a#see-others See others.

		- @people.each do |person|
			.col-sm-12.col-md-4.person_container
				.person
					.image_sizer
						- if person.photo.nil?
							=link_to image_tag("no-image.png"), user_path(person.id)
						- else
							=link_to image_tag(get_photo_user_path(person.id)), user_path(person.id)
					%p.name= link_to person.name, user_path(person.id)
					%p.text= person.comment