= render "devise/shared/header"

%h2.text-center= t "page_title.user_sign_up"

.container.text-center
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    %table.center
      %tr
        .field
          %th= f.label :email
          %td= f.email_field :email, autofocus: true
      
      %tr
        %td
          %br

      %tr
        .field
          %th
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length}
                = f.label :minimum_password_length
                )
          %td= f.password_field :password, autocomplete: "off"
      
      %tr
        %td
          %br

      %tr
        .field
          %th= f.label :password_confirmation
          %td= f.password_field :password_confirmation, autocomplete: "off"

    .actions
      = f.submit 
      
  = render "devise/shared/links"
