= render "devise/shared/header"

.my_container
  %h1=　t "page_title.user_sign_up"
  
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    %table
      %tr
        .field.form-inline
          %th
            = f.label :email
            .mandatory= t "form.mandatory"
          %td= f.email_field :email, autofocus: true

      %tr
        .field
          %th
            = f.label :password
            .mandatory= t "form.mandatory"
            %div
              - if @minimum_password_length
                (#{@minimum_password_length}
                = f.label :minimum_password_length
                )

          %td= f.password_field :password, autocomplete: "off"

      %tr
        .field
          %th
            = f.label :password_confirmation
            .mandatory= t "form.mandatory"
          %td= f.password_field :password_confirmation, autocomplete: "off"

      %tr
        .field
          %th
            = f.label :name
            .mandatory= t "form.mandatory"
            = f.label :name_public
          %td= f.text_field("name")

      %tr
        .field
          %th
            = f.label :comment
            .mandatory= t "form.mandatory"
          %td= f.text_area("comment")

      %tr
        .field
          %th
            = f.label :country_region
            .mandatory= t "form.mandatory"
          %td= f.text_field("country_region")

      %tr
        .field
          %th= f.label :photo
          %td= f.file_field("photo")

    .actions= f.submit 
      
  = render "devise/shared/links"
