= render "devise/shared/header"

%h2.text-center= t "page_title.pasword_reset"

.container.text-center
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .field
      = f.label :email
      %br
      = f.email_field :email, autofocus: true
    
    .actions
      = f.submit t "devise.mailer.reset_password_instructions.subject"
    
    = render "devise/shared/links"
