%h1 Home#index

%p= link_to "Sign in", new_user_session_path
- if user_signed_in?
	
	%p
		ID: 
		= current_user.id
	
	%p
		Email: 
		= current_user.email

	%p
		Nick Name: 
		= current_user.name

	%p
		Picture:
		=# image_tag(url_for(:action => 'get_image', :id => @user.id), :size => '100x100')
		
	%p= link_to "Destroy", user_path(current_user.id), :method => :delete
	
	%p= link_to "Sign out", destroy_user_session_path, :method => :delete