= javascript_include_tag 'home_index'

= render "devise/shared/header"

.main_container
	%h1= t "page_title.user_home"

	- if flash[:notice].present?
		.alert.alert-info.fade.in
			%button.close(data-dismiss="alert" aria-label="close")
				&times;
			- if flash[:notice]["action"].present?
				-# このstrong部分にshowへのリンク埋めたい
				%strong= flash[:notice]["subject"]
				= flash[:notice]["action"]
			- else
				%p= flash[:notice] if flash[:notice].present?
				%p= flash[:alert] if flash[:alert].present?

	%h3
		= t "home.welcome"
		- if @user.photo.nil?
			=image_tag "no-image.png", class: "user_icon"
		- else
			=image_tag get_photo_user_path(current_user.id), class: "user_icon"
		%strong
			%em= current_user.name
		= t "home.san"

	.home
		%table
			%tr
				%td= button_to t("home.user_update"), edit_user_registration_path, method: :get
				%td= button_to t("home.new_article"), new_article_path, method: :get

			%tr
				%td= button_to t("home.add_univ"), new_university_path, method: :get
				%td= button_to t("home.list_university"), home_index_path

	-# 以下日本語未対応

	%h2 あなたの記事
	%ol.breadcrumb
		%li
			%a.select_article(value="")全て
		- @categories.each do |category|
			%li
				%a.select_article{value: "#{category.en}"}
					= category.ja

	#articles_container
		- @articles.each do |article|
			- category = @categories.find{ |c| c[:id] == article.category_id}
			.article_container.col-sm-12.col-md-4{value: "#{category.en}"}
				.article
					.image_sizer
						- if article.photo.nil?
							= link_to image_tag("no-image.png", class: "article_photo"), edit_article_path(article.id)
						- else
							= link_to image_tag(get_photo_article_path(article.id), class: "article_photo"), edit_article_path(article.id)
					%p.title
						%a= link_to article.title, edit_article_path(article.id)
					- time = article.updated_at.to_s.split(" ")
					= simple_format h("カテゴリー: #{category.ja}\n更新時間: #{time[0]} #{time[1]}\n閲覧回数: #{article.access.to_s}"), class: "info"