= render "devise/shared/header"

.my_container
	%h1= t "page_title.user_home"

	- if params[:university_created_info].present?
		- info = params[:university_created_info]
		.alert.alert-info.fade.in
			%button.close(data-dismiss="alert" aria-label="close")
				&times;
			%strong= info[:name]
			= t "home.add_complete"

		- if info[:photos_warning].present?
			.alert.alert-warning.fade.in
				%button.close(data-dismiss="alert" aria-label="close")
					&times;
				- info[:photos_warning].each do |file|
					%p
						%strong= file
						= t("home.photo_failed")

		- if info[:map_warning].present?
			.alert.alert-warning.fade.in
				%button.close(data-dismiss="alert" aria-label="close")
					&times;
				- info[:map_warning].each do |message|
					%p= message


	%h3
		= t "home.welcome"
		- if @user.photo.nil?
			=image_tag "no-image.png", :class => "photo"
		- else
			=image_tag get_photo_user_path(current_user.id), :class => "photo"
		%strong
			%em= current_user.name
		= t "home.san"

	.home
		%table
			%tr
				%td= button_to t("home.author_info"), home_index_path
				%td= button_to t("home.add_univ"), new_university_path, method: :get

			%tr
				%td= button_to t("home.new_article"), new_article_path, method: :get
				%td= button_to t("home.list_article"), home_index_path