= render "devise/shared/header"

%h2.text-center= t "page_title.user_datum_sign_up"

.container.text-center
  = form_for [@user, @user.user_data.build] do |f|

    %table
      %tr
        %th= f.label :name
        %td= f.text_field :name, autofocus: true

      %tr
        %th
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length}
              = f.label :minimum_password_length
              )
        %td= f.password_field :password, autocomplete: "off"

      %tr
        %th= f.label :password_confirmation
        %td= f.password_field :password_confirmation, autocomplete: "off"

    .actions
      = f.submit 
      
  = render "devise/shared/links"
 