<%= render "devise/shared/header" %>

<div class="content">
  <h2>管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tr>
      <div class="field">
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true %></td>
      </div>
      </tr>
      <tr><td><br /></td></tr>
      <tr>
      <div class="field">
        <th>パスワード</th>
        <td><%= f.password_field :password, autocomplete: "off" %></td>
      </div>
      </tr>
      <tr><td><br /></td></tr>
    </table>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        メールアドレス・パスワードを保存する
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
