= render "devise/shared/header"

.my_container
	%h1
		-# テキストは、/config/locale/ja.ymlの内容を使います。
		-# フォームなど、ラベルを使えるものは良いのですが、使えないものはこのようにtタグを使ってください。
		= t "page_title.add_univ"

	= form_for @university do |f|
		%table
			%tr
			.field.form-inline
				%th
					= f.label :name_ja
					.mandatory= t "form.mandatory"
				%td= f.text_field :name_ja, autofocus: true
			%tr
			.field
				%th
					= f.label :name_en
					.mandatory= t "form.mandatory"
				%td= f.text_field :name_en, autofocus: true
			%tr
			.field
				%th
					= f.label :recommended_point
					.mandatory= t "form.mandatory"
				%td= f.text_field :recommended_point, autofocus: true
			%tr
			.field
				%th
					= f.label :comment
					.mandatory= t "form.mandatory"
				%td= f.text_area :comment, autofocus: true
			= f.hidden_field :created_by, :value => current_user.id
			= f.hidden_field :created_at, :value => '1000-01-01 00:00:00'
			= f.hidden_field :updated_by, :value => current_user.id
			= f.hidden_field :updated_at, :value => '1000-01-01 00:00:00'

		.actions= f.submit 

	-# 以降のフォームを作ってください。
	-# できればGoogleMapのところはcoffeescriptで作ってみてほしいな～なんて