= render "devise/shared/header"

.my_container
	%h1= t "page_title.add_univ"

	= form_for University.new do |u|
		%table
			%tr
				%th
					= u.label :name_ja
					.mandatory= t "form.mandatory"
				%td= u.text_field :name_ja, autofocus: true
			%tr	
				%th
					= u.label :name_en
					.mandatory= t "form.mandatory"
				%td= u.text_field :name_en
			%tr	
				%th
					= u.label :recommended_point
					.mandatory= t "form.mandatory"
				%td= u.text_field :recommended_point
			%tr
				%th
					= u.label :comment
					.mandatory= t "form.mandatory"
				%td= u.text_area :comment
			%tr
				%th
					= u.label :photo
				%td= u.file_field 'photos[1]'

		= fields_for UniversityMap.new do |m|
			= m.label :map_input
			#map-input
			= m.hidden_field :lat
			= m.hidden_field :lng
			= m.hidden_field :zoom, {:value => 0}

		.actions= u.submit t("helpers.submit.create"), :disable_with => "wait"