= render "devise/shared/header"

= javascript_include_tag 'university'

.my_container
	%h1= t "page_title.add_univ"

	- if @university.errors.any?
		.alert.alert-danger.fade.in
			%button.close(data-dismiss="alert" aria-label="close")
				&times;
			- @university.errors.messages.each_value do |message|
				%p= message[0]

	= form_for @university do |f|
		%table.field
			%tr
				%th
					= f.label :name_ja
					.mandatory= t "form.mandatory"
				%td= f.text_field :name_ja, autofocus: true, placeholder: t("university.p_name_ja"), required: true
			%tr	
				%th
					= f.label :name_en
					.mandatory= t "form.mandatory"
				%td= f.text_field :name_en, placeholder: t("university.p_name_en"), required: true
			%tr	
				%th
					= f.label :recommended_point
					.mandatory= t "form.mandatory"
				%td= f.text_field :recommended_point, :placeholder => t("university.p_recommended_point"), required: true
			%tr
				%th
					= f.label :comment
					.mandatory= t "form.mandatory"
				%td= f.text_area :comment, :placeholder => t("university.p_comment"), required: true
			%tr
				%th= f.label :photo1
				%td= f.file_field 'photos[1]'
			%tr
				%th= f.label :photo2
				%td= f.file_field 'photos[2]'
			%tr
				%th= f.label :photo3
				%td= f.file_field 'photos[3]'

		= f.label :map_input
		#map-input
		= hidden_field :map, :lat
		= hidden_field :map, :lng
		= hidden_field :map, :zoom, {:value => 0}

		.actions= f.submit t("helpers.submit.create")