= render "devise/shared/header"

.my_container
	%h1= t "page_title.add_univ"

	= form_for @university do |f|
		%table
			%tr
			.field
				%th
					= f.label :name_ja
					.mandatory= t "form.mandatory"
				%td= f.text_field :name_ja, autofocus: true
			%tr
			.field
				%th
					= f.label :name_en
					.mandatory= t "form.mandatory"
				%td= f.text_field :name_en
			%tr
			.field
				%th
					= f.label :recommended_point
					.mandatory= t "form.mandatory"
				%td= f.text_field :recommended_point
			%tr
			.field
				%th
					= f.label :comment
					.mandatory= t "form.mandatory"
				%td= f.text_area :comment
			%tr
			.field
				%th
					= f.label :photo
				%td= f.file_field 'photos[0]'
			%tr
		
		.actions= f.submit 