= render "devise/shared/header"

= javascript_include_tag 'university'

.my_container
	%h1= t "page_title.add_univ"

	- if @university.errors.any? or @invalid_photos.present?
		.alert.alert-danger.fade.in
			%button.close(data-dismiss="alert" aria-label="close")
				&times;
			- @university.errors.messages.each_value do |message|
				%p= message[0]
			- @invalid_photos.each do |photo|
				- photo.errors.messages.each_value do |message|
					%p
						%strong= photo.name + ": "
						= message[0]

	= form_for @university do |u|
		%table
			%tr
				%th
					= u.label :name_en
					.mandatory= t "form.mandatory"
				%td= u.text_field :name_en, autofocus: true, placeholder: t("university.p_name_en"), required: true, pattern: "[\x20-\x7E]*", title: t("university.e_name_en")

			%tr
				%th
					= u.label :name_ja
					.mandatory= t "form.mandatory"
				%td= u.text_field :name_ja, placeholder: t("university.p_name_ja"), required: true, pattern: ".*[^\x20-\x7E].*", title: t("university.e_name_ja")

			%tr
				%th
					= u.label :recommended_point
					.mandatory= t "form.mandatory"
				%td= u.text_field :recommended_point, :placeholder => t("university.p_recommended_point"), required: true

			%tr
				%th
					= u.label :comment
					.mandatory= t "form.mandatory"
				%td= u.text_area :comment, :placeholder => t("university.p_comment"), required: true


			- @photos_num.times do |n|
				%tr
					%th
						= u.label t("university.photo", num: (n+1).to_s)
					%td= u.file_field "photos[#{n.to_s}]", {"accept" => "image/*"}

		= u.label :input_map
		.mandatory= t "form.mandatory"

		#input-map
		= u.hidden_field :lat
		= u.hidden_field :lng
		= u.hidden_field :zoom, {:value => 0}

		.actions= u.submit t("helpers.submit.create")