= javascript_include_tag 'show_university'

%header
	= link_to image_tag("logo.png", class: "logo"), root_path

.main_container
	%h1= @university.name_ja
	%h3= @university.name_en

	#carousel-example-generic.carousel.slide(data-ride="carousel")
		.recommended_point
			%h2= @university.recommended_point
			%p= @university.comment

		- if @photosNum == 0
			-# 大学の写真が空の時
			.carousel-inner(role="listbox")
				.item.active
					.image_sizer
						= image_tag("loading.gif", class: "loading")
						= image_tag "no-image.png", onload: "$(this).prev().remove()"
		
		- else
			-# 大学の写真があるとき
			.carousel-inner(role="listbox")
				- @photosNum.times do |i|
					.item{class: "#{i == 0 ? 'active' : ''}"}
						.image_sizer
							= image_tag("loading.gif", class: "loading")
							= image_tag get_photo_university_path({id: @university.id, num: i}), onload: "$(this).prev().remove()"

		=# Controls
		%a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
			%span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
			%span.sr-only Previous
		%a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
			%span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
			%span.sr-only Next

	%h2 大学の場所
	#map(lat='#{@university.lat.to_s}' lng='#{@university.lng.to_s}' zoom='#{@university.zoom.to_s}')

	.marker_data
		- @universities.each do |university|
			.marker_datum(value='#{university.id}' lat='#{university.lat.to_s}' lng='#{university.lng.to_s}' name_en='#{university.name_en}' name_ja='#{university.name_ja}')
				.baloon
					.image_sizer
					%p= link_to simple_format(h(university.name_ja + "\n" + university.name_en)), university_path(university.id)
		= image_tag("loading.gif", class: "loading")
		= image_tag("no-image.png", class: "no-image")

	%h2 大学の記事
	%ol.breadcrumb
		%li
			%a.select_article(value="")全て
		- @categories.each do |category|
			%li
				%a.select_article{value: "#{category.en}"}
					= category.ja

	#articles_container
		- @articles.each do |article|
			- category = @categories.find{ |c| c[:id] == article.category_id}
			.article_container.col-sm-12.col-md-4{value: "#{category.en}"}
				.article
					.image_sizer
						- if article.photo.nil?
							= link_to image_tag("no-image.png", class: "article_photo"), article_path(article.id)
						- else
							= link_to image_tag(get_photo_article_path(article.id), class: "article_photo"), article_path(article.id)
					%p.title
						%a= link_to article.title, article_path(article.id)
					%p.name
						= "投稿者: "
						= link_to @users.find{ |u| u[:id] == article.user_id}.name, user_path(article.user_id)
					- time = article.updated_at.to_s.split(" ")
					= simple_format h("カテゴリー: #{category.ja}\n更新時間: #{time[0]} #{time[1]}\n閲覧回数: #{article.access.to_s}"), class: "info"