= javascript_include_tag 'show_university'

%header
	= link_to image_tag("logo.png", class: "logo"), root_path

.main_container
	%h1= @university.name_ja
	%h3= @university.name_en

	#carousel-example-generic.carousel.slide(data-ride="carousel")
		.recommended_point
			%h2= @university.recommended_point
			%p= @university.comment

		=# Indicators
		- if @photosNum == 0
			-# 大学の写真が空の時
			%ol.carousel-indicators
				%li(data-target="#carousel-example-generic" data-slide-to="0")
			=# Wrapper for slides
			.carousel-inner(role="listbox")
				.item.active=image_tag "no-image.png", class: "university_photo"
		
		- else
			%ol.carousel-indicators
				- @photosNum.times do |i|
					%li{"data-target" => "#carousel-example-generic", "data-slide-to" => "#{i}", "class" => "#{i == 0 ? 'active' : ''}"}
				
			=# Wrapper for slides
			.carousel-inner(role="listbox")
				- @photosNum.times do |i|
					.item{class: "#{i == 0 ? 'active' : ''}"}
						= image_tag get_photo_university_path({id: @university.id, photo_num: i}) ,class: "university_photo"

		=# Controls
		%a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
			%span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
			%span.sr-only Previous
		%a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
			%span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
			%span.sr-only Next

	%ol.breadcrumb
		%li
			%a.select_article(value="")全て
		- @categories.each do |category|
			%li
				%a.select_article{value: "#{category.en}"}
					= category.ja

	#article_container
		- @articles.each do |article|
			- category = @categories.find{ |c| c[:id] == article.category_id}
			.article.col-sm-4{value: "#{category.en}"}
				- if article.photo.nil?
					=image_tag "no-image.png", class: "article_photo"
				- else
					=image_tag get_photo_article_path(article.id), class: "article_photo"
				%p.title= article.title
				%p.name= "投稿者: " + @users.find{ |u| u[:id] == article.user_id}.name
				%p.info= "カテゴリー: " + category.ja
				- time = article.updated_at.to_s.split(" ")
				%p.info= "更新時間: " + time[0] + ' ' + time[1]
				%p.info= "閲覧回数: " + article.access.to_s